<div class= "container my-3">
  <section id="evento" class="caixa">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="row albuns">
                <div class="col-md-6 sumir-celular">
                <%= image_tag "img1.jpg", style: 'height:100%;width:100%' %>
                </div>
                <div class="col-md-6 sumir-celular">
                  <%= image_tag "img2.jpg", style: 'height:100%;width:100%' %>
                </div>
              </div>
              <div class="row albuns">
                <div class="col-md-6">
                  <%= image_tag "img3.jpg", style: 'height:100%;width:100%' %>
                </div>
                <div class="col-md-6 sumir-celular">
                  <%= image_tag "img4.jpg", style: 'height:100%;width:100%' %>
                </div>
              </div>
            </div>
            <div class="col-md-6">

              <h2>Como será o evento?</h2>
              <p>Nossa cerimônia e festa ocorrerão dia 26/11 no mesmo local, no Espaço La Playa, que fica no Hotel Atlântico Sul. A cerimônia será na cobertura e começará às 16h30 para aproveitarmos a vista da praia e da Pedra do Pontal. Em seguida, vamos todos para o salão para começar a festa! Esperamos todos lá. </p>
              <br>
              <h3>Cerimônia - > 16h às 17h</h3>
              <br>
              <h3>Festa - > 17h às 22h</h3>

            </div>
          </div>
        </div>
      </section>



          <section id="facil" class="caixa">
        <div class="container">
          <div class="row">
            <div class="col-md-4">

              <h2>Fácil</h2>
              <h3>Local</h3>
              <p>Hotel Atlântico Sul. Endereço: Av. Lúcio Costa, n. 18.000, Recreio dos Bandeirantes, Rio de Janeiro. Tel: (21) 3418-9100.
              </p>

              <h3>Estacionamento</h3>
              <p>O hotel comporta estacionamento privado com serviço de valet gratuito para todos os convidados do casamento.
              </p>

              <h3>Entrada</h3>
              <p>Chegando ao local, basta se dirigir à recepção e indicar seu nome para receber as orientações.
              </p>

            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <%= image_tag "hotel.jpg", style: 'height:100%;width:100%' %>
                </div>
                <div class="col-md-6 sumir-celular">
                  <%= image_tag "cerimonia.jpg", style: 'height:100%;width:100%' %>
                </div>
              </div>
              <div class="row albuns">
                <div class="col-md-6 sumir-celular">
                <%= image_tag "valet.jpg", style: 'height:100%;width:100%' %>
                </div>
                <div class="col-md-6">
                <%= image_tag "moca.jpg", style: 'height:100%;width:100%' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
