<!DOCTYPE html>
<html>
  <head>
    <title> Casamento Bruna e Lucas!</title>
    <link rel = "icon" href = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRJmvroCVtA5-0lSzW7uAWP8sraT9RU85G5u0yyou8XB-jhE04zzl5tzdrT0tXjuJQym0&usqp=CAU"
        type = "image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="m-5">
    <%= render 'shared/navbar' %>
    </div>
    <div class="p-4">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
